* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
      
}

body {
    background-color: lightgray;
    
}


header {
    background-color: white;
    height: 70px;
    margin-left: 0px;
    margin-right: 0px;   
}

.logo {
 margin-left: 10px;
 margin-top: 10px;
}

.title {
    font-size: 50px;
    display: inline-block;
    vertical-align: text-bottom;
}

main {
    border-radius: 10px;
    margin: 50px 200px 0px 200px;
    background-color: white;
    height: 800px;
}


.buttons {
    padding: 15px 40px;
}

hr {
    border-color: lightgray;
}

ul {
    padding: 10px 80px;
    list-style-type: none;
}
    
.add-task {
   background-color:  rgb(69, 171, 234);
   border-color: rgb(69, 171, 234);
   color: white;
   border-radius: 3px;
   padding: 2px;

}

.add-section {
   background-color:  white;
   border-color: lightgray;
   color: lightgrey;
   border-radius: 3px;
   padding: 2px;
}
.line1 {
    width: max-conte;
    color: grey;
}
   
.newtask, .today, .upcoming {
    font-size: 20px;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 20px; 
}

.dir {
    font-size: 15px;
}

.mark{
    background-color: #fff;
    border: solid 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -52px;

}

.check{
    color: green;
    border-color: green;
    border-radius: 50px;
}

.cross{
    border-color: red;
    color: red;
    border-radius: 50px;
    
}

.edit{
    margin-left: 20px;
    padding: 4px 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(69, 171, 234);
}

.q1g {
    margin-left: 20px;
    padding: 4px 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: red
}

.Q1{
    margin-left: 20px;
    padding: 4px 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: violet;
}

.recruiting {
margin-left: 20px;
    padding: 4px 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: green;
}

.mobile {
    margin-left: 20px;
    padding: 4px 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: orange;
}


.website {
    margin-left: 20px;
    padding: 4px 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: purple;
}

.sales {
    margin-left: 20px;
    padding: 4px 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: salmon;
}